body{
	max-width: 1000px;
    min-width: 600px;
    margin: 0 auto;
    padding: 0 auto;

    font-weight: none;
    font-family:Arial, sans-serif;
    font-size: 14px;

    background-color: white
	color: #666666;

    position: relative;
}

article{
    width: 70%;
    box-sizing: border-box;
}

/*aside*/
aside{
	position: absolute;
		top: 25%;
		right: 0px;
	width: 30%;
	height: 70%;
	box-sizing: border-box;
	margin-left: 10px;	
	padding: 1em;

	background-color: #EEF5DF;
	font-size: 14px;
	box-sizing: border-box;

}

aside > ul{
	list-style-type: none;
}

a{
    text-decoration:none;
}

a:hover {
	color: #0099cb;
	text-decoration:none;
}

/*header*/

body > header{
	margin-top: 2em;
	height: 100px;
	display: flex;
}

header > #top_logo{
	width: 50%;
}


header > #top_menu{
	flex: 1;
}

header > div >ul{
	float: right;
} 

nav{
	padding: 1em;
	list-style-type: none;
	display: block;
	display: flex;
}


#artist{
	padding: 30px;
 	width: 70%;
 	display: flex;
}

#artist > nav{
	float:right;
}

#artist > nav > ul{
	font-size: 12px;
	width: 150px;
	list-style-type: none;
}


#threePic{
	display: flex;
	margin-top: 1em;
	margin: 0;
}


#threePic > span{
	flex: 1;
	height:300px;
	margin:0 auto;
	background-color: black;
	color:white;
	font-size: 16px;
	padding: 2em;
	box-sizing: border-box;
}



#concert_lineup{
	list-style-type: none;
	font-size: 14px;
	background-color: #EEF5DF;
	margin-right:10px; 
	padding-left: 0px;
	border: 1px solid #cccccc;

}

#concert_lineup li{
	padding: 3px 0;

}



#concert_lineup > li:nth-child(9), :nth-child(20){
	background-color: #ffffff;
}



.line_up{
	display: inline-block;
	width:80px;
	text-align : center;

}

.concert_space{
	display: inline-block;
	width:680px;
	text-align : center;
}

footer{
	display: flex;
}

footer ul{
	float: right;
	list-style-type: none;
}











